<form class="form-signin">
    <h1>Welcome to Cinemy</h1>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus name="username" [(ngModel)]="username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password" [(ngModel)]="password">
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">Log in</button>
    <hr>
    <h1 class="h5 mb-3 font-weight-normal">Don't have an account?</h1>
    <a href="/register" style="margin: 0 auto; display:block; text-align: center">Register Here</a>
</form>