<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">Cinemy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/myposts">My Posts</a>
                </li>
                <li *ngIf="user.userType == 'admin'" class="nav-item">
                    <a class="nav-link" href="/adminops">Administrator Options</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <div ngbDropdown class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-person" viewBox="0 0 16 16">
                        <path
                            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                    </svg>
                    {{user.firstName}} {{user.lastName}}
                </a>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                    <a ngbDropdownItem class="dropdown-item" href="/profile">My Profile</a>
                    <div class="dropdown-divider"></div>
                    <a ngbDropdownItem class="dropdown-item" href="#" (click)="logout()">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
    <label for="inputOldPassword" class="sr-only">Current Password</label>
    <input type="password" id="inputOldPassword" class="form-control" placeholder="Current Password" required autofocus name="oldPassword" [(ngModel)]="oldPassword">
    <label for="inputNewPassword" class="sr-only">New Password</label>
    <input type="password" id="inputNewPassword" class="form-control" placeholder="New Password" required name="newPassword" [(ngModel)]="newPassword">
    <label for="inputConfNewPassword" class="sr-only">Confirm New Password</label>
    <input type="password" id="inputConfNewPassword" class="form-control" placeholder="Confirm New Password" required name="confNewPassword" [(ngModel)]="confNewPassword">
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="changePassword()">Change Password</button>
</form>